
#header {
  text-align: center;
  padding: 50px;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  font-weight: 1000;
}
#ping{
  font-size: 20px;
}
#about{
background-color: #7085b5;
padding: 50px;

 }
 #rules {
   padding: 60px;
   background-color:#9fc5ce;
 }

 #numberimage {
   float: right;
 }
 .pingpong{
   background-image: url("../images/background .gif");
 }
#background {
  float:left;
padding:60px;
}
#animated1{
  text-align: center;
  margin-top: auto;
}
#animated2{
border: 4px 4px 4px 4px solid black;
padding: 100px
}
