
#header {
  text-align: center;
  padding: 50px;
  background-color: #939dad;
}
#ping{
  font-size: 4px;
}
#about{
padding: 60px;
background-color: #7085b5;

 }
 #rules {
   padding: 60px;
   background-color:#9fc5ce;

 }

 #numberimage {
   float: right;
 }
 .pingpong{
   background-image: url("../images/background .gif");
 }
#background {
  float:left;

}
