
#header {
  text-align: center;
  padding: 40px;
  background-color: #939dad;
}
#ping{
  font-size: 10;
}
#about{

   background-color: #a5acb7;
   padding-bottom: 60px;
 }
 #rules {
   background-color: #48ead2;
   padding-bottom: 60px;
 }
